.container-2 {
  border: 1px solid #0496ff;
  padding: 4px;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
}

.select-container {
  border: none;
  font-size: 16px;
  padding: 6px;
  outline: none;
  width: 100%;
}
