.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.wrapper {
  border: 1px solid #0496ff;
  border-radius: 8px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30rem;
}

.text-header {
  font-size: 24px;
  color: #0496ff;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.amount-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.currency-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-container .amount {
  font-size: 20px;
}

.load-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.swap-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 15rem;
  }
  .input-container {
    flex-direction: column;
    gap: 18px;
  }
}
